*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(41, 40, 40);

}
.conatiner{
    width: 500px;
    padding: 35px 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #f8f3f3;
    border-radius: 10px ;
    background: #a6a8e7;  
}
.conatiner h1 span{
    color: crimson;
}
.inimg{
    width: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}
.inimg  img{
    cursor: pointer;
    width: 30px;
}
.inimg input{
    border: 0;
   font-size: 25px;
}
.conatiner button{
    height: 100%;
    width: 80%;
    outline: 0;
    font-size: 20px;
    margin-top: 55px;
    background-color:crimson;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}
#imagebox{
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    /* animation */
    transition: max-height 1s;
    align-items: center;
    
}
#imgbox img{
    width: 100%;
    padding: 10px;
    
}
#imgbox .show-img{
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
}
/* animation */
.error{
    animation: shake 0.1s linear 10;
}
@keyframes shake{
    0%{
        transform: translateX(0);
    }
    /* left move */
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    /* move right 1s */
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0);
    }
}
